.badge-container {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  width: 70px;
  height: 60px;
  transition: linear 100ms width;
  &:hover {
    width: 256px;
  }
}

.toast-container {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
}

.toast-body {
  background: #7cc77e;
  min-height: 20px;
}
