.content {
    height: 100%;
}

section {
    width: 100%;
}

section#cover {
    height: 70%;
}

section#cover::after {
  content: "";
  background: url(background.jpeg);
  background-size: cover;
  background-postion: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

section#presentation {
    background: #f6f6f6;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.ui.divider {
    padding: 0 200px 0 200px;
}

.scroll {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
  transform: rotate(-45deg);
  animation: scroll 2s infinite;
  box-sizing: border-box;
}

@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
